name: Sync Fork

on:
  schedule:
    - cron: '*/10 * * * *'  # every 10 minutes
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Sync upstream
        run: |
          git remote add upstream https://github.com/InsansaTechnoledge/no-due
          git fetch upstream
          git checkout main
          git merge upstream/main
          git checkout develop
          git merge upstream/develop
          git push origin main
          git push origin develop
